
body{
	width: 100%;
}

#header {
	font-family: 'Corben', cursive;
	background-color: transparent;
	color: white;
	text-align: left;
	padding: 5px;
	font-size: 1.5em;
	position: fixed;
	width: 100%;
}

a {
    color: #ddd9d9;
    text-decoration: none;
}

a:hover 
{
     color: pink; 
     text-decoration:none; 
     cursor:pointer;  
}

#q1 {
	font-family: 'Faster One', cursive;
	color: red;
	font-size: 3em;
	text-align: center;
	padding: 15% 0; /*top and bottom paddings are 15% of width of containing element, right and left paddings are 0%*/
}

#q2 {
	background-color: black;
	/*height: 400px;*/
	text-align: center;
	padding: 15% 0;
	
}
#yourFace {
	font-family: 'Corben', cursive;
	font-size: 3em;
	color: white;
}

.author {
	color: white;
	text-align: right;
	font-family: 'Corben', cursive;
	font-size: 1.5em;
	padding-right: 10%;
}

#q3 {
	font-family: 'Corben', cursive;
	background-color: #f79e71;
	color: #f9eae3;
	font-size: 2em;
	text-align: center;
	padding: 15% 0;
}

#q3auth {
	color: #f9eae3;
	text-align: right;
	font-family: 'Corben', cursive;
	font-size: 0.5em;
	padding-right: 10%;
}

#q4 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	background-image: linear-gradient(#f79e71, yellow);
	color: white;
	font-size: 6em;
	text-align: center;
	padding: 10% 0% 15% 0%; /*top, right, bottom, left*/
}

#q5 {
	font-family: 'Permanent Marker', cursive;
	background-image: linear-gradient(yellow, aqua);
	color: black;
	font-size: 6em;
	text-align: center;
	padding: 10% 0% 15% 0%;
}

#q6 {
	font-family: 'Comfortaa', cursive;
	background-image: linear-gradient(aqua, pink);
	color: black;
	font-size: 3em;
	text-align: center;
	padding: 15% 0;
}

#q7 {
	font-family: 'Permanent Marker', cursive;
	background-image: linear-gradient(pink, #4df266);
	color: black;
	font-size: 3em;
	text-align: center;
	padding: 10% 0% 15% 0%;

}

#q8 {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	background-image: linear-gradient(#4df266, #094412);
	color: yellow;
	font-size: 4em;
	text-align: center;
	padding: 10% 0% 15% 0%;
}

#q9 {
	font-family: 'Homemade Apple', cursive;
	background-image: linear-gradient(#094412, black);
	color: white;
	font-size: 4em;
	text-align: center;
	padding: 15% 0;
}

#q10 {
	font-family: 'Fredericka the Great', cursive;
	background-color: black;
	color: pink;
	font-size: 4em;
	text-align: center;
	padding: 5% 0% 15% 0%;
}
#q10auth {
	color: pink;
	text-align: right;
	font-family: 'Fredericka the Great', cursive;
	font-size: 0.5em;
	padding-right: 10%;
}